#root,html,body{
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}
.app{
  height: 100%;
background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('c:\Users\Pramisha\Downloads\moonn.jpg');
background-size: cover;
background-position: center;
justify-content: center;
align-items: center;
display: flex;

}
h1{
  color: rgb(167, 7, 7);
  display: flex;
  font-family: cursive;
  font-size: 35px;
}
.card{
width: 40%;
height: 40%;
background-color: rgb(247, 227, 227);
display: flex;
flex-direction: column ;
text-align: center;
align-items: center;
padding: 2%;
box-shadow: 10px 10px;
border-radius: 20px;
}
.button{
  cursor: pointer;
  background-color: rgb(115, 218, 166);
  height: 60px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px black;
}